<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyz.store.mapper.OrderMapper">
    <!-- 插入订单数据：Integer insertOrder(Order order) -->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO t_order (
            uid, recv_name, recv_phone, recv_province, recv_city, recv_area, recv_address,
            total_price,status, order_time, pay_time, created_user, created_time, modified_user,
            modified_time
        ) VALUES (
                     #{uid}, #{recvName}, #{recvPhone}, #{recvProvince}, #{recvCity}, #{recvArea},
                     #{recvAddress}, #{totalPrice}, #{status}, #{orderTime}, #{payTime}, #{createdUser},
                     #{createdTime}, #{modifiedUser}, #{modifiedTime}
                 )
    </insert>

    <!-- 插入订单商品数据：Integer insertOrderItem(OrderItem orderItem) -->
    <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order_item (
            oid, pid, title, image, price, num, created_user,
            created_time, modified_user, modified_time
        ) VALUES (
                     #{oid}, #{pid}, #{title}, #{image}, #{price}, #{num}, #{createdUser},
                     #{createdTime}, #{modifiedUser}, #{modifiedTime}
                 )
    </insert>
<!--    查找所有oid-->
    <select id="findOidByOrder" resultType="java.lang.Integer">
        select oid from t_order
    </select>
<!--    在查找所有oid后找到所有对应订单-->
    <select id="showOrder" resultMap="orderMap">
        select t_order.oid,recv_name,recv_phone,recv_province,
               recv_city,recv_area,recv_address,
               total_price,status,order_time,
               pid,title,
               image,id,
               price,num,
               t_order_item.oid as item_oid
               from
                     t_order
                         LEFT JOIN
                         t_order_item
                             on
                                 t_order.oid=t_order_item.oid
                                    where t_order.oid=#{t_order_oid}
    </select>
<!--    通过orderitem的id查找具体信息,用于展示商品详情-->
    <select id="findOrderInfoById" resultMap="orderMap">
        SELECT * from t_order LEFT JOIN t_order_item on t_order.oid=t_order_item.oid WHERE id=#{id}
    </select>
    <resultMap id="orderMap" type="com.xyz.store.pojo.Order" autoMapping="true">
      <collection property="orderItem" ofType="com.xyz.store.pojo.OrderItem">
          <id property="oid" column="item_oid"/>
          <result property="pid" column="pid"/>
          <result property="id" column="id"/>
          <result property="title" column="title"/>
          <result property="image" column="image"/>
          <result property="price" column="price"/>
          <result property="num" column="num"/>
      </collection>
    </resultMap>
</mapper>