<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyz.store.mapper.SearchMapper">
    <select id="searchIndex" resultType="com.xyz.store.pojo.Product">
        SELECT * from t_product WHERE title like "%"#{title}"%";
    </select>
</mapper>